@model TeamShelterProject.Models.ApplicationForAnimal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationForAnimal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allergies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allergies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.familySituation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familySituation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfKids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfKids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.youngestKidAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.youngestKidAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.housingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.housingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherAnimals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherAnimals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.animalComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.animalComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reasonsToAdopt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reasonsToAdopt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeAlone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeAlone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tripOptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tripOptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.possibilityForVet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.possibilityForVet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infoSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infoSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freeComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freeComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Animal.animalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.animalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.firstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
